		<br class="Clear" />
		</div>
	</div>
	
	<div id="ContainerLower">
		<div class="Center">
			<div class="Divider">
				<div id="LowerLeft">
					%%Panel.SideNewsletterBox%%
				</div>
				<div id="LowerRight">
					%%Panel.HomeRecentBlogs%%
				</div>
			</div>
		</div>
	</div>
	
	<div id="ContainerFooter">
		<div class="Center">
			<div id="Footer">
				<p>
				%%GLOBAL_AllPricesAreInCurrency%%
				Copyright %%GLOBAL_Year%% %%GLOBAL_StoreName%%.
				%%SNIPPET_SitemapLink%%
				%%GLOBAL_MobileSiteLink%%
				%%GLOBAL_PoweredBy%%
				</p>
				%%GLOBAL_DebugDetails%%
			</div>
		</div>
		<br class="Clear" />
	</div>

	%%GLOBAL_DesignModeHTML%%
	%%GLOBAL_QueryList%%
	%%GLOBAL_DesignModeScriptTag%%
	%%GLOBAL_LiveChatFooterCode%%

	%%GLOBAL_OptimizerTrackingScript%%
	%%GLOBAL_OptimizerConversionScript%%
	%%GLOBAL_OptimizerSetCookieScript%%

	%%GLOBAL_FooterScripts%%
	%%SNIPPET_FastCartThickBoxJs%%
